* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(178, 189, 28);
    color: rgb(0, 0, 0);
}

.register-form {
    background-color: white;
    padding: 40px 20px;
    border-radius: 18px;
    text-align: center;
    width: 300px;
    width: 400px;

}

.register-form h2 {
    margin-bottom: 5px;
    color: rgb(0, 15, 28);
    font-size: 30px;
}

.register-form p {
    margin-bottom: 20px;
    color: rgb(108, 121, 133);
    font-size: 12px;
}

.register-form img {
    background-color: rgb(178, 189, 28);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 8px;
    margin-bottom: 20px;

}

.register-group {
    text-align: left;
}

.register-group label {
    font-size: 14px;
    color: rgb(0, 15, 28);
    display: block;
}

.register-group input:focus {
    outline: none;
    border-color: rgb(12, 84, 148);
    box-shadow: 0 0 5px rgba(0, 15, 28, 0.5);
}

.button-register {
    margin-top: 50px;
    background-color: rgb(12, 84, 148);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.sign-in {
    margin-top: 20px;
    font-size: 12px;
    color: rgb(108, 121, 133);
}

.sign-in a {
    color: rgb(12, 84, 148);
    text-decoration: none;
    margin-left: 5px;
    font-size: 20px;
}

.register-group input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px 0;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 6px;
}

.link-watch-product {
    color: rgb(12, 84, 148);
    text-decoration: none;
    font-size: 16px;
    text-decoration: none;
}